.red{
    margin-top: 20px;
    width: 50%;
    height: 40px;
    background-color: red;
    display: flex;
}
.blue{
    margin-top: -40px;
    margin-left: 50%;
    width: 50%;
    height: 40px;
    background-color: blue;
    display: flex;
}
.green{
     margin-top: 10px;
     width: 95%;
     height: 40px;
     background-color: green;
     display: flex;

}
.blue2{
    width: 5%;
    height: 40px;
    background-color: blue;
    display: flex;
    margin-top: -40px;
    margin-left: 95%;
}
.red2{
    width: 10%;
    height: 40px;
    background-color: red;
    display: flex;
}
.green2{
    margin-top: -40px;
    width: 80%;
    height: 40px;
    background-color: green;
    display: flex;
    margin-left:10% ;
}
.blue3{
    margin-top:-40px;
    width:10% ;
    height:40px;
    background-color:blue;
    display :flex;
    margin-left: 90%;
}
.red3{
    margin-top: 10px;
    width: 95%;
    height: 40px;
    background-color: red;
    display: flex;
}
.blue4{
     width: 5%;
    height: 40px;
    background-color: blue;
    display: flex;
    margin-top: -40px;
    margin-left: 95%;
}
.green3{
    width: 100%;
    height: 40px;
    margin-right: 100%;
    background-color: green;
    display:flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.red4{
    width: 20px;
    height: 20px;
    background-color: red;
    
}
.red5{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items:center ;

}
.blue5{
    width: 5%;
    height: 40px;
    background-color: blue;
}
.row7{
    display: flex;
    justify-content: end;
    background: linear-gradient(to right ,red 4%,blue 2%,blue 8%);
    padding: 13px 0;
    height: 9px;
}
#gline{
    background-color: green;
    height: 12px;
    width: 96%;
    
}
.yellow1{
    width: 5%;
    height: 40px;
    margin-top: 10px;
    background-color: yellow;
    margin-left:0.1% ;
    display: flex;
}
.green5{
    width: 18.75%;
    height: 40px;
    margin-top: -40px;
    margin-left:5%;
    display: flex;
    background-color: green;
}
.yellow2{
    width: 5%;
    height: 40px;
    margin-top:-40px;
    margin-left:23.75%;
    display: flex;
    background-color: yellow;
}
.green6{
    width: 18.75%;
    height: 40px;
    margin-top: -40px;
    margin-left:28.75%;
    display: flex;
    background-color: green;
}
.yellow3{
    width: 5%;
    height: 40px;
    margin-top:-40px;
    margin-left:47.5%;
    display: flex;
    background-color: yellow;
}
.green7{
    width: 18.75%;
    height: 40px;
    margin-top: -40px;
    margin-left:52.5%;
    display: flex;
    background-color: green;
}
.yellow4{
    width: 5%;
    height: 40px;
    margin-top:-40px;
    margin-left:71.25%;
    display: flex;
    background-color: yellow;
}
.green8{
    width: 18.75%;
    height: 40px;
    margin-top: -40px;
    margin-left: 76.25%;
    display: flex;
    background-color: green;
}
.yellow5{
    width: 5%;
    height: 40px;
    margin-top:-40px;
    margin-left: 95%;
    display: flex;
    background-color: yellow;
}
.yellow6{
    width: 18%;
    height: 40px;
    display: flex;
    background-color: yellow;
}
.green9{
    width: 2%;
    height: 40px;
    margin-top: -40px;
    margin-left: 18%;
    display: flex;
    background-color: green;
}
.yellow7{
    width: 18%;
    height: 40px;
    margin-top:-40px;
    margin-left: 20%;
    display: flex;
    background-color: yellow;
}
.green10{
    width: 2%;
    height: 40px;
    margin-top: -40px;
    margin-left: 38%;
    display: flex;
    background-color: green;
}
.yellow8{
    width: 18%;
    height: 40px;
    margin-top:-40px;
    margin-left: 40%;
    display: flex;
    background-color: yellow;
}
.green11{
    width: 2%;
    height: 40px;
    margin-top: -40px;
    margin-left: 58%;
    display: flex;
    background-color: green;
}
.yellow9{
    width: 18%;
    height: 40px;
    margin-top:-40px;
    margin-left: 60%;
    display: flex;
    background-color: yellow;
}
.green12{
    width: 2%;
    height: 40px;
    margin-top: -40px;
    margin-left: 78%;
    display: flex;
    background-color: green;
}
.yellow10{
    width: 18%;
    height: 40px;
    margin-top:-40px;
    margin-left: 80%;
    display: flex;
    background-color: yellow;
}
.green13{
    width: 2%;
    height: 40px;
    margin-top: -40px;
    margin-left: 98%;
    display: flex;
    background-color: green;
}